{% extends 'AcmehelloBundle::main.html.twig' %}
{% block title %}
vista desde Alumnos
{% endblock %}

  {% block contenido %}

{% for datoalumno in array1 %}
  <div>{{ datoalumno.email }} - {{ datoalumno.nombre }}  - {{ datoalumno.edad }} </div>
{% endfor %}
  <a href="{{path('acmehello_homepage',{'name':'fernando'})}}">hola</a>
 <a href="{{url('acmehello_homepage',{'name':'fernando'})}}">hola</a>

 
 {% endblock %}

 {% block  Sidebar %}
 REMPLAZANDO SIDEBAR
  {{ parent() }}
  
 {% endblock %}